*{
    margin=0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: rgb(238,238,238);
}
a{
    color:#000;
    text-decoration: none;
}

#nav-bar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0px;
}

#header {
    display: flex;
}